# Environment Configuration
NODE_ENV='development'
NEXT_PUBLIC_BASE_URL=http://localhost:3000

# Finnhub API configuration for stock data
NEXT_PUBLIC_FINNHUB_API_KEY=d4fvl41r01qgiienib2gd4fvl41r01qgiienib30
FINNHUB_BASE_URL=https://finnhub.io/api/v1

# MongoDB Database Connection String
MONGODB_URI=mongodb+srv://kanishq:kanishqAbhi@cluster0.iskcfat.mongodb.net/?appName=Cluster0

# Better Auth Configuration
BETTER_AUTH_SECRET=vUcR0xyBUZj3CjyAk2SfI9Wygoq36xze
BETTER_AUTH_URL=http://localhost:3000

# Nodemailer Configuration for Email delivery
NODEMAILER_EMAIL=kanishq0309@gmail.com
NODEMAILER_PASSWORD=qqyxclemniizdhqe

# NVIDIA NIM API configuration for AI Analysis
NVIDIA_API_KEY=do9pepZGROnLsxs0o6uXbXj9rCmRX2gAADgZ82iEaIYURVxP3AxyxvAwoww8bsLW

# Groq API configuration for Academy AI Assistant
GROQ_API_KEY=your_groq_api_key_here
GROQ_MODEL=llama-3.3-70b-versatile

# Cron Security Secret for automated background jobs
CRON_SECRET=finnext_secret_123
